
#breedList {
    border: 0.2rem solid black;
    border-radius: 2rem;
    margin: 1rem;
    padding: 1rem;
    background-color: gray;;
}

#breedInfo, #breedImg {
    display: inline-block;
    background-color: pink;
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0.5rem;
}

#breedImg{
    border-radius: 1rem;
    box-shadow: 0.5rem 0.5rem 1rem black;
}

