
.navbar{
    background-color: rgb(226, 222, 222);
    display: flex;
    justify-content: space-around;
    padding: 1rem;
    border-radius: 10px;
}

.navbar2 {
    background-color: rgb(226, 222, 222);
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    padding: 1rem;
    margin-top: -2rem;
    border-radius: 10px;
}